{% extends "base.html" %}

{% load static %}

{% block title %}Profile | VMSmartHomes{% endblock %}

{% block main_content %}

    <main id="main" tabindex="-1">
        <section class="profile-section">
            <div class="container">
                <h1>My Profile</h1>
                <div class="profile-card">
                    <div class="profile-avatar"><i class="fa fa-user-circle"></i></div>

                    <div class="profile-info">
                        <div><i class="fa fa-user-circle"></i><strong> Username: </strong>{{ user_object.username }}</div>
                        <div><i class="fa fa-envelope"></i><strong> Email: </strong>{{ user_object.email }}</div>
                    </div>

                    <div class="profile-actions">
                        <a href="#order-basket" class="btn btn-secondary">View Basket</a>
                        <a href="{% url 'delete_user' pk=request.user.pk %}" class="btn btn-secondary">Delete Profile</a>
                    </div>

                </div>
            </div>
        </section>
    </main>

{% endblock %}
